.container {
	width: 820px;
	margin: 0 auto;
	position: relative;
}	
.map-border {
	border: 1px solid black;
	padding: 10px;
}
.map-title {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 18pt;
	text-align: center;
}
.fl-map {
	width: 800px;
	height: 700px;
}
.fl-map__counties {
	fill: rgba(233, 255, 189, 1);
	fill-opacity: 1;
	stroke: gray;
	stroke-width: 0.6px;
}
.fl-map__outer-circle {
	stroke: none;
	fill: red;
	fill-opacity: 1;
}
.fl-map__inner-circle {
	stroke: none;
	fill: rgba(233, 255, 189, 1);
	fill-opacity: 1;
}
.loading {
	position: absolute;
	z-index: 401;
}
.s-hidden {
	display: none;
}
.north-arrow {
	position: absolute;
	bottom: 12%;
	left: 3%;
	z-index: 400;
}
.legend {
	position: absolute;
	bottom: 50%;
	left: 3%;
	z-index: 400;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
}
.legend h1 {
	font-size: 12pt;
}
.popup h1 {
	font-size: 12pt;
	margin: 0;
}
.popup ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.attribution {
	margin: 2px;
	font-size: 10pt;
}